@import './assets/fonts/fonts.css';

/*linear-gradient(to right bottom, #00ffff, #0085ff);*/

:root {
    --shade: linear-gradient(to right, #87ffe3, #00eeff);
    --color: #00FFFF;
    --black: #191F31;
    --dark: #00000054;
    --white: #FCFCFC;
    --light: #FFFFFF1A;
    --base_pad: 10px;
    --base_space: 2%;
    --base_radius: 10px;
    --text_super: clamp(40px, 4.0vw, 75px);
    --text_big: clamp(21px, 2.5vw, 30px);
    --text_medium: clamp(16px, 1.8vw, 20px);
    --text_normal: clamp(13px, 1.5vw, 16px);
    --text_small: clamp(10px, 1.4vw, 12px);
}

.shadow-static,
.shadow-dynamic {
    box-shadow: 0 4px 4px #00000054, 0 0 12px #00F0FFB8;
}

.shadow-dynamic:hover {
    box-shadow: 0 0 1rem .25rem white inset, 0 -1px 10px 3px #00000054, 0 4px 27px #00f0ffb8;
}

.box-warning>p {
    padding: 10px;
    justify-content: center;
    text-align: center;
    font-weight: bolder;
    color: #ffc400;
}

*:disabled,
[aria-disabled=true],
[data-disabled=true] {
    opacity: .5;
}


/*=====================*/

html,
body {
    background: var(--black);
    font-family: 'Century Gothic Paneuropean', 'Helvetica', 'Verdata', Monospace;
    color: var(--white);
    font-size: var(--text_normal);
}

body>.limiter>div {
    overflow: clip;
    margin: var(--base_space);
    border-radius: var(--base_radius);
    background: url(./assets/media/bkg.head.top.left.webp) left top no-repeat var(--dark);
    background-size: 93% auto;
}

@media only screen {
    @media(min-width: 768px) {
        body>.limiter>div {
            padding: 0 10%;
        }
    }
    @media (max-width: 767px) {
        body>.limiter>div {
            padding: 0;
        }
    }
}


/*=====================*/

.overlay {
    z-index: -1;
    visibility: 0;
    width: 0;
    height: 0;
}

.overlay[open] {
    transition: opacity 1s;
    position: fixed;
    z-index: 900;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 100%;
    background: #131a30b8;
    box-shadow: 0 0 1000vw var(--black) inset;
}


/*=====================*/

hr {
    height: 3px;
    background: var(--black);
    margin: calc(var(--base_space)*2) auto;
}

article>section,
article>header {
    padding: calc(var(--base_space)*2);
}

article>header img[src$='bkg.head.faceprofile.webp'] {
    width: 376px;
    height: 634px;
    min-height: 100%;
}

@media only screen {
    @media ( min-width: 768px) {
        article>header {
            flex-flow: row;
        }
        article>header>div:first-of-type {
            width: 66%;
        }
        article>header>div:last-of-type {
            width: 33%;
        }
        article>header img[src$='bkg.head.faceprofile.webp'] {
            position: absolute;
        }
        article>header img[src$='img.bertz.logo.svg'] {
            max-width: 130px;
            margin: 40px 0 40px 0;
        }
    }
    @media ( max-width: 767px) {
        article>header {
            flex-flow: column-reverse;
        }
        article>header * {
            justify-content: center;
            text-align: center;
            margin: 0 auto;
        }
        article>header>div:first-of-type {
            z-index: 2;
        }
        article>header>div:last-of-type {
            z-index: 1;
        }
        article>header>div {
            width: 100%;
        }
        article>header img[src$='img.bertz.logo.svg'] {
            max-width: 160px;
            margin: 40px auto;
        }
        article>header img[src$='bkg.head.faceprofile.webp'] {
            position: relative;
            padding-right: 9vw;
            margin: 0 auto -200px;
            height: auto;
            max-width: 90%;
        }
    }
}

article h1 {
    font-size: var(--text_super);
    font-weight: 700;
    margin: 20px 0 30px 0;
    line-height: 95%;
}

article h2 {
    font-size: var(--text_big);
    font-weight: 300;
    margin-bottom: 30px;
    max-width: 400px;
}

article h3 {
    font-size: var(--text_big);
    font-weight: 700;
    margin-bottom: 30px;
}

article h4 {
    font-size: var(--text_medium);
    font-weight: 700;
    margin-top: 30px;
    margin-bottom: 30px;
    letter-spacing: 1px;
}

article>header em {
    font-size: var(--text_medium);
    font-style: normal;
    font-weight: 700;
    background: var(--shade);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@media only screen {
    @media ( min-width: 768px) {
        article>header:first-of-type>img:last-of-type {
            display: none;
            height: 0;
            margin: 0
        }
    }
    @media ( max-width: 767px) {
        article>header:first-of-type>img:last-of-type {
            display: unset;
            height: auto;
            margin: -3vw auto;
        }
    }
}

article blockquote,
q,
p,
a {
    font-size: var(--text_normal);
    letter-spacing: .12vw;
    line-height: 180%;
}

article a {
    font-weight: 700;
}

article p+p {
    margin-top: 30px;
}

footer {
    text-align: center;
    margin: 10px calc(var(--base_space)*3) 30px calc(var(--base_space)*3);
    color: #ccc;
}


/*=====================*/

nav:first-of-type {
    clear: both;
    padding: calc(var(--base_space)*2);
}

nav:first-of-type ul:first-of-type {
    float: left;
    flex-wrap: unset;
}

nav:first-of-type ul:last-of-type {
    float: right;
    padding: 4px;
    border-radius: calc(var(--base_radius)/4);
    background: var(--light);
    flex-wrap: unset;
}

nav:first-of-type li {
    padding: calc(var(--base_space)/4);
    margin: 4px;
}

nav:first-of-type li img {
    width: 25px;
    /*calc(var(--text_big)/1.3)*/
}


/*====================*/

.grid {
    display: grid;
    position: relative;
    gap: 2vw;
    grid-template-rows: minmax(0, max-content);
}

.grid>* {
    align-self: center;
}

@media only screen {
    @media (min-width: 768px) {
        .grid {
            grid-template-columns: repeat(2, 1fr);
        }
    }
    @media (max-width: 767px) {
        .grid {
            grid-template-columns: repeat(1, 1fr);
        }
    }
}


/*=====================*/

.meter label {
    font-size: var(--text_small);
    margin-bottom: var(--base_pad);
    clear: both;
}

.meter label span {
    float: right;
}

.meter div {
    position: relative;
    background: var(--dark);
    height: var(--text_small);
    border-radius: calc(var(--base_radius)/5);
}

.meter div>span {
    height: inherit;
    border-radius: inherit;
    position: absolute;
    background: var(--shade);
    font-size: 0;
    width: 1%;
}

.meter>div[data-value='10']>span {
    width: 10%;
}

.meter>div[data-value='20']>span {
    width: 20%;
}

.meter>div[data-value='30']>span {
    width: 30%;
}

.meter>div[data-value='40']>span {
    width: 40%;
}

.meter>div[data-value='50']>span {
    width: 50%;
}

.meter>div[data-value='60']>span {
    width: 60%;
}

.meter>div[data-value='70']>span {
    width: 70%;
}

.meter>div[data-value='80']>span {
    width: 80%;
}

.meter>div[data-value='90']>span {
    width: 90%;
}

.meter>div[data-value='100']>span {
    width: 100%;
}


/*=====================*/

.pop-definition {
    background: var(--dark);
    border-radius: calc(var(--base_radius)/1.75);
    margin: var(--base_pad);
    overflow: hidden;
}

.pop-definition>*:not(span) {
    cursor: help;
}

.pop-definition img {
    height: 100%;
    max-width: 25px;
    background: var(--light);
    padding: 4px;
}

.pop-definition dfn {
    padding: 3px 9px;
}

.pop-definition span {
    transition: opacity 1s, width 0s, height 0s;
    z-index: -1;
    visibility: 0;
    opacity: 0;
    height: 0;
    width: 0;
}

.pop-definition[open] span {
    transition: opacity 1s, width 0s, height 0s;
    opacity: 1;
    position: fixed;
    z-index: 999;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 450px;
    height: auto;
    max-width: 90vw;
    padding: calc(var(--base_pad)*2);
    border-radius: var(--base_radius);
    background: var(--white);
    color: var(--black);
    box-shadow: 0 0 0 10px var(--dark), 0px 10px 50px var(--dark);
}

.pop-definition span::after {
    position: absolute;
    bottom: 0;
    left: 0;
    color: white;
    content: '✖ clicca ovunque per chiudere';
    width: 100%;
    text-align: center;
    margin-bottom: -50px;
}

.content-cut {
    margin-top: 50px;
}

@media only screen {
    @media (min-width: 768px) {
        .content-cut {
            height: unset;
        }
        .more {
            display: none;
        }
    }
    @media (max-width: 767px) {
        .content-cut {
            height: 250px;
            overflow: hidden;
        }
        .more {
            background: linear-gradient(0deg, #111521 7%, transparent);
            height: 300px;
            position: absolute;
            bottom: 0;
            justify-content: end;
            width: 100%;
            padding: calc(var(--base_radius)*2);
        }
        .content-cut[open] {
            height: auto;
            padding-bottom: 80px;
            background: transparent;
        }
        .content-cut[open] .more {
            height: unset;
        }
        .content-cut[open] .more:hover {
            background: var(--dark);
        }
    }
}

.sideline {
    border-left: 5px solid var(--color);
    padding-left: 15px;
}

#agency .grid {
    margin-bottom: var(--text_super);
}

@media only screen and (max-width: 767px) {
    #agency div.linkpicture:first-of-type {
        margin-bottom: 30px;
    }
}


/*=====================*/

#info .grid {
    margin-bottom: var(--text_super);
    margin-top: var(--text_super);
}


/*=====================*/

button:hover {
    background: var(--shade);
    box-shadow: 0 0 1rem .25rem white inset, 0 -1px 10px 3px #00000054, 0 4px 27px #00f0ffb8;
}

button {
    border-radius: var(--base_radius);
    padding: var(--base_pad);
    background: var(--light);
    color: var(--white);
    box-shadow: 0, 0;
}


/*=====================*/

div.linkpicture {
    border-radius: var(--base_radius);
}

div.linkpicture>img:first-child {
    min-height: 150px;
    object-fit: cover;
}

img[src$='corner.plus.svg'] {
    position: absolute;
    width: 25%;
    top: 0;
    right: 0;
}

img[src$='corner.color.svg'] {
    position: absolute;
    width: 25%;
    bottom: 0;
    left: 0;
}


/*=====================*/

@media only screen {
    @media (min-width: 768px) {
        #noasap.grid {
            grid-template-columns: 22% auto;
        }
    }
    @media (max-width: 767px) {
        #noasap.grid {
            grid-template-columns: 0% auto;
        }
    }
}

#noasap cite {
    margin-top: 30px;
}

#noasap h4 {
    margin-top: 0;
}

img[src$='prontoprologo.svg'] {
    max-width: 160px;
    margin-bottom: 20px;
}

img[src$='noasap.svg'] {
    max-height: clamp(150px, 15vw, 250px);
    ;
}


/*=====================*/

#social-links h5 {
    font-size: var(--text_medium);
    font-weight: 700;
    margin: -15px 0 25px 0;
}

@media only screen {
    @media (min-width: 768px) {
        #social-links p {
            margin: -15px 0 25px 0;
        }
    }
}

#social-links div.linkpicture {
    width: 100%;
    max-height: 170px;
    display: flex;
    overflow: hidden;
    position: relative;
    align-items: center;
    justify-content: center;
}


/*=====================*/

#pitch>div:first-of-type {
    margin-bottom: 75px;
    flex-flow: row;
    gap: 20px;
}

#pitch>div:first-of-type>div {
    align-self: center;
}

#pitch>div:first-of-type h3 {
    text-align: left;
}

#pitch>div:first-of-type small {
    display: block;
    font-size: var(--text_normal);
}

#pitch>div:first-of-type img {
    width: 55%;
    border-radius: var(--base_radius);
    margin-right: 20px;
}

@media only screen {
    @media (max-width: 767px) {
        #pitch>div:first-of-type {
            flex-wrap: wrap-reverse;
        }
        #pitch>div:first-of-type>div {
            width: 100%;
        }
        #pitch>div:first-of-type>div {
            align-self: unset;
        }
        #pitch>div:first-of-type img {
            width: 100%;
        }
    }
}

@media only screen {
    @media (max-width: 767px) {
        #pitch .grid {
            gap: 30px
        }
    }
}

#pitch .grid i {
    color: var(--color);
}

[href^="#start"] {
    margin: 0 auto 20px auto;
}